<main>
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="row mb-2">
            <!-- class="row g-3 needs-validation" -->
            <!--   -->
            <form [formGroup]="groupFormGroup"  (ngSubmit)="submitFormAsync()"> 

              <div class="col-md-12">
                  <label class="form-label">First Name</label>
                  <input type="text"
                            formControlName="name"
                            [ngClass]="
                                  {
                                  'text-border-danger':groupFormControl['name'].invalid && groupFormControl['name'].touched,
                                  'text-border-success' :!groupFormControl['name'].invalid
                                  }"
                             class="form-control"
                             placeholder="email"/>
                  <div *ngIf="groupFormControl['name'].invalid && (groupFormControl['name'].dirty || groupFormControl['name'].touched)" class="alert alert-danger">
                    <div *ngIf="groupFormControl['name'].errors?.['required']">
                     FirstName is required
                    </div>
                  </div>
              </div>
              <div class="text-center">
                <button class="btn btn-primary me-2">Register</button>
                <button class="btn btn-secondary" type="button" (click)="closeDialogBox()">Cancel</button>
             
            </div>
       </form>
      
      </div>

  </section>
</main><!-- End #main -->


